#myWallet {
    background-color: #DFDFDF;
}

#myWallet:hover {
    background-color: #AFAFAF;
}

#certificate {
    border: 1px solid black;
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 500px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

#cert {
    margin-top: 50px;
    min-height: 350px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#cert-img {
    text-align: center;
    margin: 0 auto;
    background-color: black;
    border-radius: 15px;
}

#cert-img img {
    width: 250px;
    margin-top: 100px;
}

#cert-content{
    margin-right: 30px;
    margin-left: 20px;
    text-align: left;
    font-size: 21px;
}

#cert-content p {
    margin-top: 13px;
    color: #AFAFAF;
}

#pk {
    font-size: 18px;
}

#cert-content span {
    margin-left: 40px;
}

#keyGen {
    margin-top: 15px;
    font-size: 12px;
    display: none;
    color: #AFAFAF;
}

#keyGen span {
    margin-left: 0px;
    color: black;
    font-weight: bold;
}